aside, article, section, header, footer, nav{
    display: block;
}

div, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    background-image: url("../_images/IMG_craigsPic.jpeg");
    background-size: cover;
}

body {
    padding: 0;
    font-family: Arial,sans-serif;
    background: rgb(255, 255, 255);
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

header {
    padding: 20px 25px;
    background: rgb(76,67,65);
}

header p {
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0;
}

article {
    padding: 0 25px;
    margin-top: 25px;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    color: rgb(255,255,255);
}

h2 {
    font: 1.2em Arial, Helvetica, sans-serif;
    margin-bottom: .4em;
}

h3 {
    font: 1.6em Arial, Helvetica, sans-serif;
    margin-bottom: .4em;
    font-weight: bold;
    border-bottom: 1px solid black;
}

section.paragraph {
    padding-left: 37px;
    margin: 12px;
    font-weight: normal;
}

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #000000;
}

ul {
    margin: 0;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    padding: 5px;
    background-color: lightgrey;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgb(70, 69, 70);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgb(70, 69, 70);
}

/* Style the tab content */
div.tabcontent {
    display: none;
    margin: 0 25px;
    margin-top: 25px;
}

div.gallery {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    border: 5px solid #000000;
    float: left;
    width: 215px;
    height: 215px;
    padding: 0px;
}

div.gallery:hover {
    border: 5px solid darkgrey;
}

div.gallery img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 25px;
    clear: both;
    padding: 10px 25px;
    background: rgb(76,67,65);
}

footer p {
    margin: 0;
    padding-right: 10px;
    text-align: right;
    font-size: 10px;
    font-style: italic;
}
